{{ $cv := index $.Site.Data.json_resume $.Site.Language.Lang }}
{{ with $cv.awards }}
  <div class="jr__list jr-awards__list">
    {{ range . }}
      <div class="jr__item jr-awards__item">
        <div class="jr__item-meta">
          <div class="jr-awards__title">{{ .title }}</div>
          <div class="jr__date jr-awards__date">{{ .date }}</div>
          <div class="jr-awards__awarder">{{ .awarder }}</div>
        </div>
        <p class="jr__item-content">{{ .summary }}</p>
      </div>
    {{ end }}
  </div>
{{ end }}
