{{ $cv := index $.Site.Data.json_resume $.Site.Language.Lang }}
{{ with $cv.certificates }}
  <div class="jr__list jr-certificates__list">
    {{ range . }}
      <div class="jr__item jr-certificates__item">
        <div class="jr__item-meta">
          <div class="jr-certificates__name">
            {{ if .url }}
              <a href="{{ .url }}">
                {{ .name }}
              </a>
            {{ else }}
              <span>{{ .name }}</span>
            {{ end }}
          </div>
          <div class="jr-certificates__date">{{ .date }}</div>
          <div class="jr-certificates__issuer">{{ .issuer }}</div>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
