{{ $cv := index $.Site.Data.json_resume $.Site.Language.Lang }}
{{ with $cv.publications }}
  <div class="jr__list jr-publications__list">
    {{ range . }}
      <div class="jr__item jr-publications__item">
        <div class="jr__item-meta">
          <div class="jr-publications__name">
            {{ if .url }}
              <a href="{{ .url }}">{{ .name }}</a>
            {{ else }}
              <span>{{ .name }}</span>
            {{ end }}
          </div>
          <div class="jr__date jr-publications__release-date">
            {{ .releaseDate }}
          </div>
          <div class="jr-publications__publisher">{{ .publisher }}</div>
        </div>

        <p class="jr__item-content">{{ .summary }}</p>
      </div>
    {{ end }}
  </div>
{{ end }}
