.jr__item-meta {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.jr-awards__title,
.jr-certificates__name,
.jr-education__area,
.jr-projects__roles,
.jr-publications__name,
.jr-volunteer__position,
.jr-work__position {
  font-size: 1.1rem;
  font-weight: bold;
}
