.jr__item-meta {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.jr-awards__title,
.jr-certificates__name,
.jr-work__position {
  font-size: 1.25rem;
  font-weight: bold;
}
