{{ $cv := index $.Site.Data.cv $.Site.Language.Lang }}
<section class="jr__list jr-awards__list">
  {{ range $cv.awards }}
    <div class="jr__item jr-awards__item">
      <div class="jr__item-meta">
        <div class="jr-awards__title">{{ .title }}</div>
        <div class="jr-awards__date">{{ .date }}</div>
      </div>
      <div class="jr__item-meta">{{ .awarder }}</div>
      <div class="jr__item-content">
        <p>
          {{ .summary }}
        </p>
      </div>
    </div>
  {{ end }}
</section>
