{{ $cv := index $.Site.Data.cv $.Site.Language.Lang }}
<section class="jr__list jr-publications__list">
  {{ range $cv.publications }}
    <div class="jr__item jr-publications__item">
      <div class="cv__position">
        <strong>
          {{ if .url }}
            <a href="{{ .url }}">
              {{ .name }}
            </a>
          {{ else }}
            <span>{{ .name }}</span>
          {{ end }}
        </strong>
        <span>—</span>
        <span>{{ .publisher }}</span>
      </div>
      <div class="cv__duration">
        <span>{{ .releaseDate }}</span>
      </div>
      <p>{{ .summary }}</p>
    </div>
  {{ end }}
</section>
