{{ $cv := index $.Site.Data.cv $.Site.Language.Lang }}
<section class="jr__list jr-volunteer__list">
  {{ range $cv.volunteer }}
    <div class="jr__item jr-volunteer__item">
      <div class="cv__position">
        <strong>{{ .position }}</strong>
        {{ if .organization }}
          <span>—</span>
          {{ if .url }}
            <a href="{{ .url }}">
              {{ .organization }}
            </a>
          {{ else }}
            <span>{{ .organization }}</span>
          {{ end }}
        {{ end }}
      </div>

      {{ partial "json-resume/duration.html" (dict "context" . "site" $.Site) }}


      <div class="jr__item-content">
        {{ with .summary }}
          <p class="jr-volunteer__summary">{{ . }}</p>
        {{ end }}
        {{ with .highlights }}
          <ul class="jr-volunteer__highlights">
            {{ range . }}
              <li>{{ . }}</li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  {{ end }}
</section>
